@charset "UTF-8";

body {
  font:
    100%/1.4 "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro",
    "メイリオ",
    Meiryo,
    Osaka,
    "ＭＳ Ｐゴシック",
    "MS PGothic",
    sans-serif;
  color: #111;
  margin: 0px;
  padding: 0px;
  background-image: url(images/background.jpg);
}

a {
  &:link {
    color: #33c;
    text-decoration: none;
    border: none;
  }

  &:visited {
    color: #33c;
    text-decoration: none;
  }

  &:hover {
    color: #69f;
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

ul,
ol,
dl {
  /* ブラウザー間の相違による、リストの余白とマージンを調整する。 */
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font:
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
}

p {
}

a img {
  margin: 0px;
  padding: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1000px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;

  /* またはabsolute; */
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  body {
  }
  img {
    width: 100%;
    height: auto;
  }
}

#container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  position: relative;
}
@media screen and (max-width: 767px) {
  #container {
    width: auto;
  }
  .container_head {
    width: auto;
  }
}

#header {
  overflow: hidden;
  width: 1000px;
  height: 150px;
  margin: 0px auto;
  padding: 0px;
}

#navbar {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  background-color: #5e0712;
  width: 1000px;
  height: 50px;

  ul {
    position: relative;
    margin: 0px auto;
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;

    li {
      flex-basis: auto;
      text-align: center;
    }
  }

  a {
    height: 100%;
    padding: 0 3em;
    padding: 0 2em;
    background-color: #5e0712;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #333;
      background-color: #d3c39a;
    }
  }
}
@media screen and (max-width: 767px) {
  #navbar {
    width: auto;
    height: auto;

    ul {
      margin: 0px auto;
      width: auto;
      height: auto;
      justify-content: space-between;
      flex-wrap: wrap;
      border-bottom: 1px solid #fff;

      li {
        flex-basis: 50%;
        &:not(:nth-of-type(5)) {
          border-bottom: 1px solid #fff;
        }
        &:nth-of-type(odd) {
          border-right: 1px solid #fff;
        }
      }
    }

    a {
      padding: 15px 0;
      font-size: 13px;
      line-height: 1;
      white-space: nowrap;
    }
  }
}

.msg-closed {
  padding: 4em;
  p {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
  }
  .more-info {
    margin-top: 2em;
    h2 {
      text-align: center;
    }
    p {
      font-size: 20px;
      text-align: left;
    }
  }
}
@media screen and (max-width: 767px) {
  .msg-closed {
    padding: 2em;
    p {
      font-size: clamp(16px, 5vw, 28px);
      text-align: left;
    }
    .more-info {
      margin-top: 1em;
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 16px;
        text-align: left;
      }
    }
  }
}

#top_img {
  margin: 0px auto;
  padding: 0px;
  width: 1000px;
  height: 480px;
  background-image: url(images/header_img202309.jpg);
}
@media screen and (max-width: 767px) {
  #top_img {
    width: auto;
    height: 48vw;
    background-position: center;
    background-size: cover;
  }
}

.header_img {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  height: 138px;
  @media screen and (max-width: 767px) {
    width: auto;
    height: 22vw;
    background-position: center;
    background-size: cover;
  }
}

#gaiyo_header_img {
  background-image: url(images/second_header06.jpg);
}

#sobabooth_header_img {
  background-image: url(images/second_header01.jpg);
}

.for-apply {
  max-width: 650px;
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid #c00;
  h2 {
    margin: 0;
    padding: 15px 0;
    background-color: #c00;
    font-size: 32px;
    color: #fff;
  }
  p {
    margin: 12px 0 15px;
    font-size: 20px;
    font-weight: bold;
  }
}
@media screen and (max-width: 767px) {
  .for-apply {
    max-width: unset;
    margin-bottom: 30px;
    h2 {
      padding: 12px;
      font-size: clamp(18px, 6vw, 32px);
    }
    p {
      font-size: clamp(15px, 4vw, 20px);
    }
  }
}

#bussanboth_header_img {
  background-image: url(images/second_header03.jpg);
}

#tournament_header_img {
  background-image: url(images/second_header02.jpg);
}

#event_header_img {
  background-image: url(images/second_header05.jpg);
}

#access_header_img {
  // background-image: url(images/second_header04.jpg);
  padding: 50px 50px 20px;
  height: auto;
  @media screen and (max-width: 767px) {
    padding: 30px 10px 20px;
    height: auto;
  }
  p {
    padding: 15px 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 4px solid #5e0712;
    border-bottom: 4px solid #5e0712;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.7;
    small {
      margin-top: 5px;
      font-size: 16px;
    }
    @media screen and (max-width: 767px) {
      font-size: 20px;
      small {
        margin-top: 8px;
        font-size: 15px;
      }
    }
  }
}

#contents {
  width: 1000px;
  clear: both;
}
@media screen and (max-width: 767px) {
  #contents {
    padding: 0 10px;
    width: auto;
  }
}

.application {
  padding: 25px 50px 15px;
}

.application__title {
  margin-bottom: 25px;
  text-align: center;
  color: #111;
}

.application__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.application__link__item a {
  display: block;
  padding: 1.3em 3em;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 4px solid #000;
  border-radius: 10px;
  background-color: #fffbcc;
  text-decoration: underline;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &.item-soba {
    border-color: #b02e2a;
    color: #b02e2a;
  }

  &.item-bussan {
    border-color: #005a32;
    color: #005a32;
  }

  &.item-meijinsen {
    border-color: #d3832f;
    color: #d3832f;
  }
}

#main {
  width: 700px;
  margin-left: 50px;
  margin-top: 40px;
  float: left;
}
@media screen and (max-width: 767px) {
  #main {
    width: auto;
    margin-left: 0;
    margin-top: 15px;
    float: none;
  }
}

//市長メッセージ
.mayor-message {
  margin-bottom: 40px;
  max-width: 650px;
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  .mayor-image {
    float: right;
    margin: 0 0 1em 1.5em;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      margin: 0 0 0.5em 0.5em;
      width: clamp(140px, 35%, 220px);
    }
    img {
      width: 220px;
      height: auto;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
  .message {
    font-size: 15px;
    line-height: 1.8;
    text-indent: 1em;
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
  .sign {
    font-size: 15px;
    text-align: right;
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
}

//続きを読む
.more-contents {
  margin: 1em 0;
  summary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #efefef;
    border-radius: 8px;
    list-style: none; /* 矢印を消す */
    cursor: pointer;
    line-height: 1;
    position: relative;
    &::after {
      transition: 0.15s linear;
      content: "+";
      font-size: 1.2em; /* 記号のサイズ */
      line-height: 1;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .more-contents__data {
    opacity: 0;
    transition: 0.15s linear;
  }
  //open
  &[open] {
    summary {
      &::after {
        content: "−";
      }
    }
    .more-contents__data {
      opacity: 1;
    }
  }
}

#main_box1 {
  width: 700px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
@media screen and (max-width: 767px) {
  #main_box1 {
    width: auto;
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      li {
        a {
          display: block;
        }
      }
    }
  }
}

.title-img {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .title-img {
    margin-top: 20px;
  }
}

.box_img {
  margin-right: 25px;
  margin-bottom: 30px;
  float: left;
  margin-top: 0px;
}

.box_img2 {
  float: left;
  margin-right: 25px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .box_img {
    margin-right: 0;
    margin-bottom: 0;
    float: none;
  }

  .box_img2 {
    float: none;
    margin-right: 0;
    margin-bottom: 0;
  }
}

#main_box2 {
  clear: both;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  width: 700px;
  float: left;
}

#second_main {
  float: left;
  width: 650px;
  margin-left: 50px;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  #second_main {
    float: none;
    width: auto;
    margin-left: 0;
    margin-top: 15px;
  }
}

.announcement {
  padding: 5px 25px;
  margin-bottom: 20px;
  line-height: 1.7;
  background-color: #f1f1f1;
}
@media screen and (max-width: 767px) {
  .announcement {
    padding: 2px 15px;
    margin-bottom: 15px;
  }
}

.accent {
  font-size: 22px;
}

.accent_cation {
  font-size: 22px;
  color: #ff0000;
}

#second_main_box1 {
  float: left;
  width: 650px;
}

#second_main_box2 {
  clear: both;
  width: 650px;
}

#side {
  float: right;
  width: 200px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;

  a img {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  #side {
    float: none;
    width: auto;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      li {
        a {
          display: block;
          img {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

#contents_bottom {
  margin-left: 50px;
  font-size: 13px;
  font-weight: bold;
  background-color: #c00;
  color: #fff;
  float: left;
  padding-left: 15px;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 635px;
}
@media screen and (max-width: 767px) {
  #contents_bottom {
    margin-left: 0;
    float: none;
    padding: 0.2em 1.2em;
    margin: 20px 10px 0;
    width: auto;
  }
}

#page_top {
  margin-left: 50px;
  font-size: 13px;
  font-weight: bold;
  float: left;
  margin-bottom: 50px;
  width: 635px;
}
@media screen and (max-width: 767px) {
  #page_top {
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 20px;
    float: none;
    width: auto;
    a {
      display: block;
      padding: 12px 10px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }
}

#footer {
  width: 950px;
  clear: both;
  font-size: 12px;
  background-color: #7e1111;
  color: #fff;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  #footer {
    width: auto;
    padding: 10px;
    .copy {
      margin-top: 25px;
      margin-bottom: 0;
      font-size: 10px;
      text-align: center;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.copy {
  font-size: 11px;
}

.add {
  font-size: 14px;
}

/* 20230905追記 */

* {
  box-sizing: border-box;
}

#second_main * {
  /* color: #111; */
}

.title1 {
  margin: 2em 0 1em;
  padding-bottom: 6px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 4px solid #ffcc99;

  &:first-of-type {
    margin-top: 0;
  }
}

.title2 {
  margin: 2em 0 0;
  &:first-child {
    margin-top: 0;
  }
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .title2 {
    margin-top: 1em;
    font-size: 20px;
  }
}

.title3 {
  margin: 2em 0 0;
  &:first-child {
    margin-top: 0;
  }
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .title3 {
    margin-top: 1em;
    font-size: 18px;
  }
}

.title4 {
  margin: 2em 0 0;
  &:first-child {
    margin-top: 0;
  }
  font-size: 22px;
  font-weight: bold;
  padding-left: 14px;
  border-left: 8px solid #5e0712;
}
@media screen and (max-width: 767px) {
  .title4 {
    margin-top: 1em;
    font-size: 18px;
    padding-left: 10px;
    border-left-width: 6px;
  }
}

.zenkaku-brackets {
  margin-left: -0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 0.8em 1em;
  border: 1px solid #aaa;
  line-height: 1.5;
}

.cell-s {
  width: 100px;
}

.cell-m {
  width: 255px;
}

.cell-l {
}

.tbl1 {
  margin: 1em 0 4em;

  th {
    width: 25%;
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .tbl1 {
    margin-bottom: 3em;

    th {
      width: 30%;
      text-align: left;
    }
  }
}

.tbl2 {
  margin-top: 1em;
}
.tbl2 th,
.tbl2 td {
  padding: 0.5em 1em;
}
@media screen and (max-width: 767px) {
  .tbl2 th,
  .tbl2 td {
    padding: 0.3em 0.6em;
  }
}

@media screen and (max-width: 767px) {
  .scroll-table {
    overflow-x: auto;
    max-width: 100%;
    width: 100%;
    table {
      width: 650px;
    }
  }
}

//20240906 イベント・周辺そば店情報
.one-column {
  padding: 40px 50px 0;
  @media screen and (max-width: 767px) {
    padding: 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .scroll-contents {
    margin-top: 15px;
    overflow-x: auto;
    max-width: 100%;
    width: 100%;
    .local-info-map {
      width: 900px;
    }
  }
}

.local-info-map {
  margin: 30px 0 0;
  @media screen and (max-width: 767px) {
    margin-top: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
}

//周辺そば店情報
.soba-table {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  .soba-tenpo {
    display: grid;
    grid-template-columns: 60% 25% 15%;
    gap: 0;
    border: 1px solid #ccc;
    font-size: 15px;
    @media screen and (max-width: 767px) {
      grid-template-columns: 50% 50%;
    }
    & > * {
      padding: 8px 10px;
      @media screen and (max-width: 767px) {
        padding: 8px;
      }
    }
    .soba-tenpo__name {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      border-right: 1px solid #ccc;
      font-weight: bold;
      @media screen and (max-width: 767px) {
        grid-column: 1 / 3;
        border-right: none;
        border-bottom: 1px solid #ccc;
      }
    }
    .soba-tenpo__tel {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      align-content: center;
      font-size: 13px;
      border-right: 1px solid #ccc;
      @media screen and (max-width: 767px) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        font-size: 14px;
      }
      &::before {
        content: "TEL: ";
      }
      a {
        &:link,
        &:visited {
          color: #111;
        }
      }
    }
    .soba-tenpo__on-map {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      align-content: center;
      font-size: 13px;
      @media screen and (max-width: 767px) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }
      &::before {
        content: "位置: ";
      }
    }
    .soba-tenpo__text {
      grid-row: 2 / 3;
      grid-column: 1 / 4;
      border-top: 1px solid #ccc;
      background-color: #f1f1f1;
      font-size: 14px;
      @media screen and (max-width: 767px) {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
      }
    }
  }
}

//イベント情報
.event-contents {
  margin-top: 60px;
  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }
}
.event-table {
  margin-top: 25px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  @media screen and (max-width: 767px) {
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .event {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    border: 1px solid #ccc;
    font-size: 15px;
    & > * {
      padding: 12px 14px;
      @media screen and (max-width: 767px) {
        padding: 10px;
      }
    }
    .event__name {
      font-size: 18px;
      font-weight: bold;
      background-color: #fbca46;
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
    .event__text {
      // border-top: 1px solid #ccc;
      font-size: 14px;
      position: relative;
      dl {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        @media screen and (max-width: 767px) {
          gap: 0.5em;
        }
        & > div {
          display: grid;
          grid-template-columns: -webkit-max-content 1fr;
          grid-template-columns: max-content 1fr;
          gap: 0;
          line-height: 1.6;
          dt {
            &::after {
              content: "：";
              margin-left: 0.5em;
            }
          }
          dd {
            margin-left: 0.5em;
          }
        }
      }
    }
  }
}

//イベントごと
.event--1 {
  .event-image {
    width: 220px;
    position: absolute;
    right: 20px;
    top: 20px;
    @media screen and (max-width: 767px) {
      // width: 90%;
      // max-width: 360px;
      margin: 15px auto 20px;
      position: relative;
      right: auto;
      top: auto;
    }
  }
}

//common
figure {
  margin: 0;
  line-height: 1;
  img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
  }
}

//そば祭りマップ
.venue-map {
  margin-top: 50px;
  padding: 15px;
  border: 2px solid #e2ad4a;
  background-color: #f9f0e0;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;
  @media screen and (max-width: 767px) {
    margin-top: 30px;
    gap: 15px;
  }
  .venu-map__image {
    flex: 0 0 100px;
    border: 2px solid #fff;
    @media screen and (max-width: 767px) {
      flex-basis: 80px;
    }
  }
  .venue-map__download {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3 {
      margin: 0;
      @media screen and (max-width: 767px) {
        font-size: 17px;
      }
    }
  }
}

//アンケート
.enquete {
  margin-top: 50px;
  padding: 10px 30px;
  border: 1px solid #000;
  @media screen and (max-width: 767px) {
    margin-top: 30px;
    padding: 5px 15px;
  }
  h3 {
    font-size: 20px;
    text-align: center;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
  p {
    text-align: center;
    line-height: 1.7;
    em {
      font-style: normal;
      font-size: 18px;
      font-weight: bold;
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
  .form-link {
    margin-top: 30px;
    text-align: center;
    @media screen and (max-width: 767px) {
      margin-top: 15px;
    }
    a {
      display: block;
      padding: 5px;
      font-size: 16px;
      background-color: #eee;
    }
  }
}

// 出店者情報 - 物産ブース募集要項
.yoko-download {
  margin: 50px 50px;
  padding: 40px;
  border: 4px solid #5e0712;
  text-align: center;
  @media screen and (max-width: 767px) {
    margin: 10px 10px;
    padding: 20px;
    text-align: left;
  }
  p {
    margin-top: 0;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
  a {
    display: inline-block;
    margin-top: 0.5em;
    font-size: 16px;
    @media screen and (max-width: 767px) {
      font-size: 15px;
    }
  }
}
