@charset "UTF-8";

body {
  font: 100%/1.4 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #111;
  margin: 0px;
  padding: 0px;
  background-image: url(images/background.jpg);
}

a {
  &:link {
    color: #33c;
    text-decoration: none;
    border: none;
  }

  &:visited {
    color: #33c;
    text-decoration: none;
  }

  &:hover {
    color: #69f;
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

ul,
ol,
dl {
  /* ブラウザー間の相違による、リストの余白とマージンを調整する。 */
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
    Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

p {
}

a img {
  margin: 0px;
  padding: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1000px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;

  /* またはabsolute; */
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  body{
  }
  img{
    width: 100%;
    height: auto;
  }
}

#container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  position: relative;
}
@media screen and (max-width: 767px) {
  #container {
    width: auto;
  }
  .container_head {
    width: auto;
  }
}

#header {
  overflow: hidden;
  width: 1000px;
  height: 150px;
  margin: 0px auto;
  padding: 0px;
}

#navbar {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  background-color: #5e0712;
  width: 1000px;
  height: 50px;

  ul {
    position: relative;
    margin: 0px auto;
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: stretch;

    li {
      flex-basis: auto;
      text-align: center;
    }
  }

  a {
    height: 100%;
    padding: 0 3em;
    background-color: #5e0712;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #333;
      background-color: #d3c39a;
    }
  }
}
@media screen and (max-width: 767px) {
  #navbar {
    width: auto;
    height: auto;
    background-color: rgb(45, 8, 12);

    ul {
      margin: 0px auto;
      width: auto;
      height: auto;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1px;

      li {
        flex-basis: calc(50% - 0.5px);
      }
    }

    a {
      padding: 10px 0;
      font-size: 13px;
      line-height: 1;
      white-space: nowrap;
    }
  }
}

#top_img {
  margin: 0px auto;
  padding: 0px;
  width: 1000px;
  height: 480px;
  background: url(images/header_img202309.jpg);
}
@media screen and (max-width: 767px) {
  #top_img {
    width: auto;
    height: 48vw;
    background-size: cover;
  }
}

#gaiyo_header_img {
  margin: 0px auto;
  padding: 0px;
  width: 1000px;
  height: 138px;
  background: url(images/second_header06.jpg);
}

#sobabooth_header_img {
  margin: 0px auto;
  padding: 0px;
  width: 1000px;
  height: 138px;
  background: url(images/second_header01.jpg);
}

#bussanboth_header_img {
  margin: 0px auto;
  padding: 0px;
  width: 1000px;
  height: 138px;
  background: url(images/second_header03.jpg);
}

#tournament_header_img {
  margin: 0px auto;
  padding: 0px;
  width: 1000px;
  height: 138px;
  background: url(images/second_header02.jpg);
}

#event_header_img {
  margin: 0px auto;
  padding: 0px;
  width: 1000px;
  height: 138px;
  background: url(images/second_header05.jpg);
}

#access_header_img {
  margin: 0px auto;
  padding: 0px;
  width: 1000px;
  height: 138px;
  background: url(images/second_header04.jpg);
}

#contents {
  width: 1000px;
  clear: both;
}
@media screen and (max-width: 767px) {
  #contents {
    padding: 0 20px;
    width: auto;
  }
}

.application {
  padding: 25px 50px 15px;
}

.application__title {
  margin-bottom: 25px;
  text-align: center;
  color: #111;
}

.application__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.application__link__item a {
  display: block;
  padding: 1.3em 3em;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 4px solid #000;
  border-radius: 10px;
  background-color: #fffbcc;
  text-decoration: underline;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &.item-soba {
    border-color: #b02e2a;
    color: #b02e2a;
  }

  &.item-bussan {
    border-color: #005a32;
    color: #005a32;
  }

  &.item-meijinsen {
    border-color: #d3832f;
    color: #d3832f;
  }
}

#main {
  width: 700px;
  margin-left: 50px;
  margin-top: 40px;
  float: left;
}
@media screen and (max-width: 767px) {
  #main {
    width: auto;
    margin-left: 0;
    margin-top: 30px;
    float: none;
  }
}

#main_box1 {
  width: 700px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
@media screen and (max-width: 767px) {
  #main_box1 {
    width: auto;
    ul{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      li{
        a{
          display: block;
        }
      }
    }
  }
}

.box_img {
  margin-right: 25px;
  margin-bottom: 30px;
  float: left;
  margin-top: 0px;
}

.box_img2 {
  float: left;
  margin-right: 25px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .box_img {
    margin-right: 0;
    margin-bottom: 0;
    float: none;
  }

  .box_img2 {
    float: none;
    margin-right: 0;
    margin-bottom: 0;
  }
}

#main_box2 {
  clear: both;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  width: 700px;
  float: left;
}

#second_main {
  float: left;
  width: 650px;
  margin-left: 50px;
  margin-top: 40px;
}

.accent {
  font-size: 22px;
}

.accent_cation {
  font-size: 22px;
  color: #ff0000;
}

#second_main_box1 {
  float: left;
  width: 650px;
}

#second_main_box2 {
  clear: both;
  width: 650px;
}

#side {
  float: right;
  width: 200px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;

  a img {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  #side {
    float: none;
    width: auto;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 0;

    ul{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      li{
        a{
          display: block;
          img{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

#contents_bottom {
  margin-left: 50px;
  font-size: 13px;
  font-weight: bold;
  background-color: #c00;
  color: #fff;
  float: left;
  padding-left: 15px;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 635px;
}
@media screen and (max-width: 767px) {
  #contents_bottom {
    margin-left: 0;
    float: none;
    padding: 0.2em 1.2em;
    margin: 50px 20px 0;
    width: auto;
  }
}

#page_top {
  margin-left: 50px;
  font-size: 13px;
  font-weight: bold;
  float: left;
  margin-bottom: 50px;
  width: 635px;
}
@media screen and (max-width: 767px) {
  #page_top {
    padding: 0 20px;
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 30px;
    float: none;
    width: auto;
    a{
      display: block;
      padding: 12px 10px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
  }
}

#footer {
  width: 950px;
  clear: both;
  font-size: 12px;
  background-color: #7e1111;
  color: #fff;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  #footer {
    width: auto;
    padding: 10px 20px;
    .copy{
      margin-top: 25px;
      font-size: 10px;
      text-align: center;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.copy {
  font-size: 11px;
}

.add {
  font-size: 14px;
}

/* 20230905追記 */

* {
  box-sizing: border-box;
}

#second_main * {
  /* color: #111; */
}

.title1 {
  margin: 2em 0 1em;
  padding-bottom: 6px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 4px solid #ffcc99;

  &:first-of-type {
    margin-top: 0;
  }
}

.title2 {
  margin: 2em 0 0;
  font-size: 24px;
  font-weight: bold;
}

.title3 {
  margin: 2em 0 0;
  font-size: 20px;
  font-weight: bold;
}

.zenkaku-brackets {
  margin-left: -0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 0.8em 1em;
  border: 1px solid #aaa;
  line-height: 1.5;
}

.cell-s {
  width: 100px;
}

.cell-m {
  width: 255px;
}

.cell-l {
}

.tbl1 {
  margin: 1em 0 4em;

  th {
    width: 25%;
    text-align: left;
  }
}
